@import '~vuetify/src/styles/styles.sass';

@mixin soft-scroll() {
	&::-webkit-scrollbar-track {
		background: white;
	}

	&::-webkit-scrollbar {
		width: 1.2rem;
		background: white;
	}

	&::-webkit-scrollbar-thumb {
		background: white;
	}

	&:active, &:focus, &:hover {
		&::-webkit-scrollbar-thumb {
			background: transparentize(map-get($blue-grey, 'lighten-1'), .4);
		}
	}
}
